<html>
<form method="post">
  <textarea name="*Text" style="width:800px;height:200px">
{{text}}
  </textarea>
  <input type="submit">
</form>
{{#org}}
<h{{level}}>{{name}}</h{{level}}>
{{#body}}
{{.}}<br>
{{/body}}
{{#children}}{{#orgt}}{{/orgt}}{{/children}}
{{/org}}
</html>
